$fa-font-path: "./../node_modules/@fortawesome/fontawesome-free/webfonts/"
@import './../node_modules/@fortawesome/fontawesome-free/scss/fontawesome'
@import './../node_modules/@fortawesome/fontawesome-free/scss/regular'
@import './../node_modules/@fortawesome/fontawesome-free/scss/solid'
@import './../node_modules/@fortawesome/fontawesome-free/scss/brands'

$text: #fff
$text-light: #fff
$text-strong: #fff
$title-color: #fff
$label-color: #fff
$blue-dark: hsl(209.2, 87%, 25%)
$blue: hsl(209.2, 82%, 35%)
$blue-light: hsl(209.2, 77%, 45%)

$info: $blue-dark
$info-invert: $blue-light
$link: $blue-light
$link-invert: #fff
$link-hover: #fff

$dark: $blue-dark
$body-background-color: $blue
$table-background-color: $blue
$table-color: #fff
$table-row-active-background-color: $blue-light

@import '../node_modules/bulma/bulma'

.twitter
  color: #55acee !important // Override bulma
  border-color: #55acee

.github
  color: $black !important // Override bulma
  border-color: #202020

.spacer + .ship-description
  padding-left: 2em

.ship-description + .ship-description
  padding-left: 0.25em
